* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.Login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(150, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('pcc.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}
.index-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding: 20px;
    
}

.index-options {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 40px;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 20px;
    
}

.index-image {
    width: 400px;
    height: 400px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.index-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.index-item p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    
}

